<!-- partial:partials/_settings-panel.html -->
<!-- partial -->
<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts' %}">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Accounts</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'courses' %}">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Courses</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'tickets' %}">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Tickets</span>
            </a>
        </li>

    </ul>
</nav>
<!-- partial -->